*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.slider-main {
    width: 100vw;
    height: 50vh;
    background: url("https://images-eu.ssl-images-amazon.com/images/G/31/img2020/img21/apparelGW/augart25/pc/3._CB804568059_.png");
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

body{position: relative;
      z-index: 1;}

.form{
    display: none; 
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -30%);
      width: 60vw;
      height: 60vh;
      padding: 20px;
      background: url("https://assets.aboutamazon.com/dims4/default/b3d8eee/2147483647/strip/true/crop/1279x720+0+0/resize/1240x698!/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F94%2F6d%2F08b35e09423ca8769d6b61cafec8%2Fdeal-reveal.jpg");
      object-fit: fill;
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
      border-radius: 10px;
      z-index: 10000;
      background-size: 100% 100%;
}
.form #close{
    z-index: 100005;
    position: fixed;
    bottom: 93%;
    left: 96%;
    height: 25px;
    width: 25px;
    background-color: white;
    border: none;
}
.slider-main #left {
    padding: 1em;
    height: 8vh;
}

.slider-main #right {
    padding: 1em;
    height: 8vh;
}

/* container 1 */

.main {
    width: 100vw;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: absolute;
    gap: 30px;
    padding: 30px;
    z-index: 2;
    margin-top: -100px;
}

.main .container1 {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    padding: 10px;
    overflow: hidden;
}

.main .container1 #part1 {
    /* background-color: aqua; */
    grid-column: 1/span 2;


}

.main .container1 #part1 h3 {
    font-size: 1.6em;
}

.main .container1 #part2 {
    /* background-color: blue; */

}

.main .container1 #part2 img {
    /* background-color: blue; */
    height: 100px;
    width: 100%;
    object-fit: cover;
    display: block;

}

.main .container1 #part3 {
    /* background-color: rgb(163, 21, 125); */

}

.main .container1 #part3 img {
    /* background-color: blue; */
    height: 100px;
    width: 100%;
    object-fit: cover;
    display: block;

}

.main .container1 #part4 {
    /* background-color: blue; */

}

.main .container1 #part4 p {
    font-size: 0.8em;
}

.main .container1 #part5 {
    /* background-color: rgb(163, 21, 125); */

}

.main .container1 #part5 p {
    font-size: 0.8em;
}

.main .container1 #part6 {
    /* background-color: blue; */

}

.main .container1 #part6 img {
    /* background-color: blue; */
    height: 100px;
    width: 100%;
    object-fit: cover;
    display: block;

}

.main .container1 #part7 {
    /* background-color: rgb(163, 21, 125); */

}

.main .container1 #part7 img {
    /* background-color: blue; */
    height: 100px;
    width: 100%;
    object-fit: cover;
    display: block;

}

.main .container1 #part8 {
    /* background-color: blue; */

}

.main .container1 #part8 p {
    font-size: 0.8em;
}

.main .container1 #part9 {
    /* background-color: rgb(163, 21, 125); */

}

.main .container1 #part9 p {
    font-size: 0.8em;
}

.main .container1 #part10 {
    /* background-color: blue; */
    grid-column: 1/span 2;
    align-content: end;
}

.main .container1 #part10 p {
    font-size: 0.9em;
    color: #3669a1;
}

.main .container2 {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    padding: 10px;
    overflow: hidden;
}

.main .container2 #part1 {
    /* background-color: aqua; */
    grid-column: 1/span 2;


}

.main .container2 #part1 h3 {
    font-size: 1.6em;
}

.main .container2 #part2 {
    /* background-color: blue; */

}

.main .container2 #part2 img {
    /* background-color: blue; */
    height: 100px;
    width: 100%;
    object-fit: cover;
    display: block;

}

.main .container2 #part3 {
    /* background-color: rgb(163, 21, 125); */

}

.main .container2 #part3 img {
    /* background-color: blue; */
    height: 100px;
    width: 100%;
    object-fit: cover;
    display: block;

}

.main .container2 #part4 {
    /* background-color: blue; */

}

.main .container2 #part4 p {
    font-size: 0.8em;
}

.main .container2 #part5 {
    /* background-color: rgb(163, 21, 125); */

}

.main .container2 #part5 p {
    font-size: 0.8em;
}

.main .container2 #part6 {
    /* background-color: blue; */

}

.main .container2 #part6 img {
    /* background-color: blue; */
    height: 100px;
    width: 100%;
    object-fit: cover;
    display: block;

}

.main .container2 #part7 {
    /* background-color: rgb(163, 21, 125); */

}

.main .container2 #part7 img {
    /* background-color: blue; */
    height: 100px;
    width: 100%;
    object-fit: cover;
    display: block;

}

.main .container2 #part8 {
    /* background-color: blue; */

}

.main .container2 #part8 p {
    font-size: 0.8em;
}

.main .container2 #part9 {
    /* background-color: rgb(163, 21, 125); */

}

.main .container2 #part9 p {
    font-size: 0.8em;
}

.main .container2 #part10 {
    /* background-color: blue; */
    grid-column: 1/span 2;
    align-content: end;
}

.main .container2 #part10 p {
    font-size: 0.9em;
    color: #3669a1;
}

.main .container3 {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    padding: 10px;
    overflow: hidden;
}

.main .container3 #part1 {
    /* background-color: aqua; */
    grid-column: 1/span 2;


}

.main .container3 #part1 h3 {
    font-size: 1.6em;
}

.main .container3 #part2 {
    /* background-color: blue; */

}

.main .container3 #part2 img {
    /* background-color: blue; */
    height: 100px;
    width: 100%;
    object-fit: cover;
    display: block;

}

.main .container3 #part3 {
    /* background-color: rgb(163, 21, 125); */

}

.main .container3 #part3 img {
    /* background-color: blue; */
    height: 100px;
    width: 100%;
    object-fit: cover;
    display: block;

}

.main .container3 #part4 {
    /* background-color: blue; */

}

.main .container3 #part4 p {
    font-size: 0.8em;
}

.main .container3 #part5 {
    /* background-color: rgb(163, 21, 125); */

}

.main .container3 #part5 p {
    font-size: 0.8em;
}

.main .container3 #part6 {
    /* background-color: blue; */

}

.main .container3 #part6 img {
    /* background-color: blue; */
    height: 100px;
    width: 100%;
    object-fit: cover;
    display: block;

}

.main .container3 #part7 {
    /* background-color: rgb(163, 21, 125); */

}

.main .container3 #part7 img {
    /* background-color: blue; */
    height: 100px;
    width: 100%;
    object-fit: cover;
    display: block;

}

.main .container3 #part8 {
    /* background-color: blue; */

}

.main .container3 #part8 p {
    font-size: 0.8em;
}

.main .container3 #part9 {
    /* background-color: rgb(163, 21, 125); */

}

.main .container3 #part9 p {
    font-size: 0.8em;
}

.main .container3 #part10 {
    /* background-color: blue; */
    grid-column: 1/span 2;
    align-content: end;
}

.main .container3 #part10 p {
    font-size: 0.9em;
    color: #3669a1;
}

.main .container4 {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    padding: 10px;
    overflow: hidden;
}

.main .container4 #part1 {
    /* background-color: aqua; */
    grid-column: 1/span 2;


}

.main .container4 #part1 h3 {
    font-size: 1.6em;
}

.main .container4 #part2 {
    /* background-color: blue; */

}

.main .container4 #part2 img {
    /* background-color: blue; */
    height: 100px;
    width: 100%;
    object-fit: cover;
    display: block;

}

.main .container4 #part3 {
    /* background-color: rgb(163, 21, 125); */

}

.main .container4 #part3 img {
    /* background-color: blue; */
    height: 100px;
    width: 100%;
    object-fit: cover;
    display: block;

}

.main .container4 #part4 {
    /* background-color: blue; */

}

.main .container4 #part4 p {
    font-size: 0.8em;
}

.main .container4 #part5 {
    /* background-color: rgb(163, 21, 125); */

}

.main .container4 #part5 p {
    font-size: 0.8em;
}

.main .container4 #part6 {
    /* background-color: blue; */

}

.main .container4 #part6 img {
    /* background-color: blue; */
    height: 100px;
    width: 100%;
    object-fit: cover;
    display: block;

}

.main .container4 #part7 {
    /* background-color: rgb(163, 21, 125); */

}

.main .container4 #part7 img {
    /* background-color: blue; */
    height: 100px;
    width: 100%;
    object-fit: cover;
    display: block;

}

.main .container4 #part8 {
    /* background-color: blue; */

}

.main .container4 #part8 p {
    font-size: 0.8em;
}

.main .container4 #part9 {
    /* background-color: rgb(163, 21, 125); */

}

.main .container4 #part9 p {
    font-size: 0.8em;
}

.main .container4 #part10 {
    /* background-color: blue; */
    grid-column: 1/span 2;
    align-content: end;
}

.main .container4 #part10 p {
    font-size: 0.9em;
    color: #3669a1;
}

@media screen and (max-width: 1200px) {
    .main {
        width: auto;
        height: auto;
        background-color: #e3e6e6;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 10px;
    }

    .main .container1 #part10 {
        /* background-color: blue; */
        grid-column: 1/span 2;
        align-content: start;
    }

    .main .container2 #part10 {
        /* background-color: blue; */
        grid-column: 1/span 2;
        align-content: start;
    }

    .main .container3 #part10 {
        /* background-color: blue; */
        grid-column: 1/span 2;
        align-content: start;
    }

    .main .container4 #part10 {
        /* background-color: blue; */
        grid-column: 1/span 2;
        align-content: start;
    }
}

@media screen and (max-width: 600px) {
    .main {
        width: auto;
        height: auto;
        background-color: #e3e6e6;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px;
    }

    .main .container4 #part10 {
        /* background-color: blue; */
        grid-column: 1/span 2;
        align-content: start;
    }
}

/* clock craousel  */
.main-2 {
            width: 100vw;
            height: 40vh;
            /* background-color: red; */
            display: grid;
            grid-template-rows: 1fr 1fr;
            padding: 10px;
            position: relative;
            margin-top: 400px;
        }

        .main-2 #left {
            position: absolute;
            height: 50px;
            width: 50px;
            top: 50%;
            left: 0px;
            background-color: rgba(255, 255, 255, 0.5);
            border: none;
        }

        .main-2 #right {
            position: absolute;
            height: 50px;
            width: 50px;
            top: 50%;
            right: 0px;
            background-color: rgba(255, 255, 255, 0.5);
            border: none;
        }

        .main-2 .section-1 {
            /* background-color: aqua; */
            height: 6vh;
            font-size: 1.4em;
            font-weight: 550;
        }

        .main-2 .section-2 {
            height: 31.3vh;
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            gap: 10px;
            scroll-behavior: smooth;
        }

        .section-2>div {
            min-width: 150px;
            height: 100%;
            flex-shrink: 0;
            background-size: 100% 100%;
        }

        .main-2 .section-2 #container-1 {
            /* background-color: aquamarine; */
            background: url("https://m.media-amazon.com/images/I/719-ckJZDvL._AC_SY200_.jpg");
            background-size: 100% 100%;
        }

        .main-2 .section-2 #container-2 {
            background-color: rgb(163, 30, 165);
            background: url("https://m.media-amazon.com/images/I/719-ckJZDvL._AC_SY200_.jpg");
            background-size: 100% 100%;
        }

        .main-2 .section-2 #container-3 {
            background-color: aquamarine;
            background: url("https://m.media-amazon.com/images/I/719-ckJZDvL._AC_SY200_.jpg");
            background-size: 100% 100%;
        }

        .main-2 .section-2 #container-4 {
            background-color: rgb(163, 30, 165);
            background: url("https://m.media-amazon.com/images/I/719-ckJZDvL._AC_SY200_.jpg");
            background-size: 100% 100%;
        }

        .main-2 .section-2 #container-5 {
            background-color: aquamarine;
            background: url("https://m.media-amazon.com/images/I/719-ckJZDvL._AC_SY200_.jpg");
            background-size: 100% 100%;
        }

        .main-2 .section-2 #container-6 {
            background-color: rgb(163, 30, 165);
            background: url("https://m.media-amazon.com/images/I/719-ckJZDvL._AC_SY200_.jpg");
            background-size: 100% 100%;
        }

        .main-2 .section-2 #container-7 {
            background-color: aquamarine;
            background: url("https://m.media-amazon.com/images/I/719-ckJZDvL._AC_SY200_.jpg");
            background-size: 100% 100%;
        }

        .main-2 .section-2 #container-8 {
            background-color: rgb(163, 30, 165);
            background: url("https://m.media-amazon.com/images/I/719-ckJZDvL._AC_SY200_.jpg");
            background-size: 100% 100%;
        }

        .main-2 .section-2 #container-9 {
            background-color: rgb(163, 30, 165);
            background: url("https://m.media-amazon.com/images/I/719-ckJZDvL._AC_SY200_.jpg");
            background-size: 100% 100%;
        }

        .main-2 .section-2 #container-10 {
            background-color: rgb(163, 30, 165);
            background: url("https://m.media-amazon.com/images/I/719-ckJZDvL._AC_SY200_.jpg");
            background-size: 100% 100%;
        }

        .main-2 .section-2 #container-11 {
            background-color: rgb(163, 30, 165);
            background: url("https://m.media-amazon.com/images/I/719-ckJZDvL._AC_SY200_.jpg");
            background-size: 100% 100%;
        }
        @media screen and (max-width:600px) {
            .main-2{
                height: 60vh;
            }
            .main-2 .section-1{
                height: 10vh;
            }
        }

     @media screen and (max-width:750px)  {
        .form{
            height: 40vh;
        }
     }   
     @media screen and (max-width:550px)  {
        .form{
            height: 20vh;
        }
     }   